@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Montserrat", sans-serif;
    }
    .container-fluid {
        @apply w-full mx-auto px-4;
    }
}

@layer components {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }
    .card .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }
}

@layer {

}